.channeltitles {
   background-color: $color-black-0;
   overflow: hidden;
   padding:0  $pd-5 ;

   .nav-pills {
      justify-content: center;
      margin-bottom: $mg-2 !important;
      .nav-item{
         .nav-link{
            background-color: transparent;
            color: #ffffff;
            margin: 0 $mg-1;
            padding: $pd-1;
            border-radius: $border-radius-0;
            i{
               padding-right: 10px;
            }
            
         }
         .nav-link.active{
            color: $color-blue-0;
            border-bottom: 1px solid $color-blue-0;
         }
      }
   }

   .channels {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .channel__items {
         position: relative;
         overflow: hidden;
         border: 1px solid $color-black-0;
         .channel__img {
            img {
               width: 100%;
               display: block;
            }
         }

         .channel__text {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: $pd-1 + 5 $pd-3;
            background: rgba(0, 0, 0, .7);
            height: 20%;
            width: 100%;
            transition: all 0.5s ease-in-out;

            h3 {
               @include text($color-white-1, $fs-3, $fw-normal);
            }

            p {
               @include text($color-white-1, $fs-2 - 4, $fw-normal);
               opacity: 0;
               transition: all 0.5s ease-in-out;
            }


         }
         .channel__icons{
            position: absolute;
            bottom: 25%;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            p{
               background-color: $color-black-7;
               align-items: center;
               display: flex;
               i{
                  font-size: $fs-1;
                  background-color: $color-gray-1;
                  height: 30px;
                  width: 30px;
                  text-align: center;
                  line-height: 30px;
               }
               span{
                  padding: 0 5px;
               }
            }
         }
         &:hover {
            .channel__text {
               height: 50%;

               p {
                  opacity: 1;
               }
            }
            .channel__icons{
               opacity: 0;
            }
         }
      }
      .popular__items {
         position: relative;
         overflow: hidden;
         border: 1px solid $color-black-0;
         .popular__img {
            img {
               width: 100%;
               display: block;
            }
         }
     
         .popular__text {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: $pd-1 + 5 $pd-3;
            background: rgba(0, 0, 0, .7);
            height: 20%;
            width: 100%;
            transition: all 0.5s ease-in-out;
     
            h3 {
               @include text($color-white-1, $fs-3, $fw-normal);
            }
     
            p {
               @include text($color-white-1, $fs-2 - 4, $fw-normal);
               opacity: 0;
               transition: all 0.5s ease-in-out;
            }
     
     
         }
     
         &:hover {
            .popular__text {
               height: 50%;
     
               p {
                  opacity: 1;
               }
            }
         }
      }
      .video__items {
         position: relative;
         overflow: hidden;
         border: 1px solid $color-black-0;
         .video__img {
            img {
               width: 100%;
               display: block;
            }
         }
     
         .video__text {
            position: absolute;
            left: 0;
            bottom: 0;
            padding:$pd-3 $pd-1 + 5 ;
            background: rgba(0, 0, 0, .7);
            height: 20%;
            width: 100%;
            transition: all 0.5s ease-in-out;
     
            h3 {
               @include text($color-white-1, $fs-3, $fw-normal);
            }
     
            p {
               @include text($color-white-1, $fs-2 - 4, $fw-normal);
               opacity: 0;
               transition: all 0.5s ease-in-out;
            }
     
     
         }
     
         &:hover {
            .video__text {
               height: 50%;
     
               p {
                  opacity: 1;
               }
            }
         }
      }
      
      
   }
   .btn--showMore{
      i{
         padding-right: 8px;
      }
   }
}

@media (min-width:768px) and (max-width: 1200px){
   .channeltitles {
      .channels {
         grid-template-columns: repeat(2, 1fr);
         .channel__items{
            .channel__text {
               height: 25% ;
            }
         }
         
         .popular__items {.popular__text {
            height: 25%;
         }}
         
         .video__items{
            .video__text {
               height: 25%;
            }
         }
         
      }
   }
}
@media (min-width: 1200px){
   .channeltitles {
      .channels {
         grid-template-columns: repeat(3, 1fr);
         .channel__items{
            .channel__text {
               height: 25% ;
            }
         }
         
         .popular__items {.popular__text {
            height: 25%;
         }}
         
         .video__items{
            .video__text {
               height: 25%;
            }
         }
         .channel__big {
            grid-column: 1/ span 2;
            grid-row: 1/ span 2;
         }
         .channel__big_2 {
            grid-column: 1/ span 2;
            grid-row: 5/ span 2;
         }
         .channel__big_3 {
            grid-column: 1/ span 2;
            grid-row: 9/ span 2;
         }
         .channel__big_4 {
            grid-column: 1/ span 2;
            grid-row: 13/ span 2;
         }
         .h-text {
            .channel__text {
               height: 12.5% !important;
            }
            .video__text{
               height: 12.5% !important;
            }
            .popular__text{
               height: 12.5% !important;
            }
            &:hover {
               .channel__text {
                  height: 25% !important;
               }
               .popular__text{
                  height: 25% !important;
               }
               .video__text{
                  height: 25% !important;
               }
            }
         }
         
      }
   }
   
}