#modalMer {
	.modal-header{
		border-bottom: 0;
	}
    .modal-body {
        .nav-tabs {
            a {
                border-radius: 0;
                @include text($color-dark, $fs-0, $fw-normal);
            }

            a.active {
                @include text($color-blue-0, $fs-0, $fw-normal);
            }
        }

        .tab-content {
            @include text($color-dark, $fs-1, $fw-normal);

            .brandhub-legal-headline {
				margin: $mg-1 0;
                p {
                    @include text($color-dark, $fs-0 +4, $fw-normal);
                    line-height: 1rem;
                }
            }

            .brandhub-legal-text {
				margin: $mg-1 0;
                p {
                    @include text($color-dark, $fs-1, $fw-normal);
                    line-height: 1.375;
                }
            }
        }
    }
}